.heading {
    width: 100%;
    text-align: left;
}
.heading h3 {
    display: inline;   
}
.heading button {
    float: right;
    border: 1px solid white;   
}
.big_image {
    width: 100%;
}
#start, #status{
    font-size: 22px;
}

h4 {
    margin: 0px;
    background-color: white;
    line-height: 2;
}

h1 {
    text-align: center;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
